{:paths
 ["src/dev"
  "src/main"
  "src/test"]

 :deps
 {OUTCASTGEEK-TECH/fast-twitch    {:git/url "https://github.com/OUTCASTGEEK-TECH/fast-twitch"
                                   :sha     "54982d9ef3eb00115c3d906ad32057e38069096c"}
  ;;OUTCASTGEEK-TECH/fast-twitch {:local/root "/path/to/fast-twitch"} ;; Use this to run against a local copy of FastTwitch
  cljs-ajax                  {:mvn/version "0.8.0"}
  cljs-http                  {:mvn/version "0.1.46"}
  org.clojure/core.match     {:mvn/version "1.0.0"}
  reagent                    {:mvn/version "1.0.0-alpha2"
                              :exclusions  [cljsjs/react cljsjs/react-dom]}
  reagent-forms              {:mvn/version "0.5.44"}
  reagent-utils              {:mvn/version "0.3.3"}
  re-frame                   {:mvn/version "0.12.0"}
  com.cognitect/transit-cljs {:mvn/version "0.8.256"}
  tick                       {:mvn/version "0.4.23-alpha"}
  thheller/shadow-cljs       {:mvn/version "2.9.8"}}

 :aliases
 {:ancient {:main-opts  ["-m" "deps-ancient.deps-ancient"]
            :extra-deps {deps-ancient {:mvn/version "0.0.4"}}}
  :dev
           {:extra-deps
            {cider/cider-nrepl {:mvn/version "0.25.0-SNAPSHOT"}}}
  :prod
           {:extra-deps
            {cider/cider-nrepl {:mvn/version "0.25.0-SNAPSHOT"}}}
  :zprint
           {:extra-deps
                       {zprint {:mvn/version "0.5.4"}}
            :main-opts ["-m" "zprint.main"]}}}

