{:paths
 ["src/dev"
  "src/main"
  "src/test"]

 :deps
 {OUTCASTGEEK-TECH/fast-twitch    {:git/url "https://github.com/OUTCASTGEEK-TECH/fast-twitch"
                                   :sha     "e74a1b6b8ef427a85d6208472d2d33ec1b6d1801"}
  ;;OUTCASTGEEK-TECH/fast-twitch {:local/root "/path/to/fast-twitch"} ;; Use this to run against a local copy of FastTwitch
  cljs-ajax                  {:mvn/version "0.8.4"}
  cljs-http                  {:mvn/version "0.1.46"}
  org.clojure/core.match     {:mvn/version "1.0.1"}
  reagent                    {:mvn/version "1.2.0"
                              :exclusions  [cljsjs/react cljsjs/react-dom]}
  reagent-forms              {:mvn/version "0.5.44"}
  reagent-utils              {:mvn/version "0.3.8"}
  re-frame                   {:mvn/version "1.3.0"}
  com.cognitect/transit-cljs {:mvn/version "0.8.280"}
  tick                       {:mvn/version "0.7.5"}
  thheller/shadow-cljs       {:mvn/version "2.25.5"}}

 :aliases
 {:ancient {:main-opts  ["-m" "deps-ancient.deps-ancient"]
            :extra-deps {deps-ancient {:mvn/version "0.0.5"}}}
  :dev
           {:extra-deps
            {cider/cider-nrepl {:mvn/version "0.37.1"}}}
  :prod
           {:extra-deps
            {cider/cider-nrepl {:mvn/version "0.37.1"}}}
  :zprint
           {:extra-deps
                       {zprint {:mvn/version "1.2.8"}}
            :main-opts ["-m" "zprint.main"]}}}

